@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


body {
    background-color: rgb(62, 165, 224);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.5rem, 6vw, 2.25rem);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 2%;
    padding-right: 2%;

}

.alight-left {
    margin-left: auto
}

.align-right {
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-block {
    background-color: rgb(243, 245, 147);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #faec70;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.block img {
    width: 100%;
    max-width: 400px;
}

#main-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1.5rem, 5vw, 2rem);
    justify-content: center;
    text-align: center;
    flex: 1 1 300px;
    min-width: 10%;
}

#intro {
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
}

#directory {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

#directory li::before {
    content: ">";
}

#main-text {
    font-size: 2vw;
    float: left;
    width: 57%;
}

#sidebar {
    font-size: 2vw;
    float: right;
    width: 35%;
}

#Trumpet-Frog {
    width:15%;
    height:auto;
}

#CSULB {
    width:20%;
    height:auto;
    border-radius:1rem;

}

#footer {
    font-size: 1.5vw;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}