@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


body {
background-color: rgb(62, 165, 224);
}

#main-body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
}

#main-title {
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5rem;
    position: absolute;
    top: -20px;
    left: 150px;
}

#intro {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 175px;
    left: 0px;
}

#Trumpet-Frog {
    width: 150px;
    position: absolute;
    top: 15px;
    left: 0px;
}

#directory {
    list-style: none;
    display: flex;
    position: absolute;
    top: 110px;
    left: 100px;
}

#directory li::before {
    content: ">";
}

#CSULB {
    width: 550px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 1rem;;
}

.rounded-block {
    background-color: rgb(243, 245, 147);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px;
}

#my-goals {
    width: 450px;
    position: absolute;
    top: 400px;
    right: 15px;
}